services:
  mssql:
    container_name: "mssql"
    hostname: "mssql"
    user: "root"
    build:
      context: "."
      dockerfile: "Dockerfile"
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "dba_password123#"
      SA_PASSWORD: "dba_password123#"
      MSSQL_AGENT_ENABLED: "true"
      MSSQL_PID: "Developer"
    volumes:
      - type: "bind"
        source: "~/.mssql-docker"
        target: "/var/opt/mssql"
